@charset "UTF-8";
:root {
  --hue:206;
  --bkg:var(--hue) 50% 96%;
  --text: var(--hue) 70% 9%;
  --dark: var(--hue) 70% 3%;
  --primary:#863764;
  --secondary: antiquewhite;
  --darkbkg:rgb(34, 34, 34);
}

html[data-theme=dark] {
  --secondary: rgb(34, 34, 34);
}

/*$secondary: #fad7df;*/
/*Common breakpoints are 
320px — 480px for mobile devices, 
481px — 768px for iPads & tablets, 
769px — 1024px for small screens like laptop, 
1025px — 1200px for large screens like Desktops, and 
1201px and above for extra large screens like TV.*/
/*measurements*/
* {
  font-family: "Nunito", Arial, sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: var(--primary);
  max-width: 100%;
}

.border {
  border-radius: 10px;
}

.fb {
  background-color: none;
  position: fixed;
  top: 70%;
  border-radius: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.inst {
  background-color: none;
  position: fixed;
  top: 73%;
  border-radius: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.social-icon a {
  background-color: none;
  min-width: 150px;
}

.social-icon a img {
  background-color: none;
  border-radius: 50%;
}

.main__when {
  margin-top: 50px;
  margin-bottom: 50px;
}
.main__when p {
  font-size: 20px;
}

@media screen and (min-width: 760px) {
  .main__wherewhen {
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }
  .main__wherewhen .main__when {
    margin-top: 50%;
    grid-column: 1/2;
    font-size: 30px;
  }
  .main__wherewhen .main__when p {
    font-size: 35px;
  }
  .main__wherewhen .main__when p strong {
    font-size: 30px;
  }
  .main__wherewhen .main__where {
    grid-column: 2/3;
  }
}
.main__gif {
  width: 80vw;
}

.map {
  margin-top: 40px;
  width: 80vw;
  height: 180px;
}
@media screen and (min-width: 760px) {
  .map {
    height: 400px;
  }
}

.info__text p {
  margin: auto;
  border-radius: 5px;
  font-size: 15px;
  padding: 12px;
  margin: 10px;
  box-shadow: rgba(134, 55, 100, 0.2) 0px 0px 8px;
}

.orders__container {
  background-image: url("/img/baking2.jpg");
  background-size: cover;
}

.orders__container--cover {
  background-color: rgba(250, 235, 215, 0.61);
}
.orders__container--cover * {
  background-color: transparent;
  position: center;
}

.orders__info1 {
  padding-top: 18vh;
}

.orders__info2 {
  padding-top: 20vh;
  padding-bottom: 20vh;
  font-size: 13px;
}

.main {
  grid-column: 1/7;
}

.main__image {
  background-image: url("/img/chocoraspberrycloseup.png");
  background-size: cover;
  height: 300px;
}
@media screen and (min-width: 930px) {
  .main__image {
    background-image: url("/img/cake3.jpg");
    background-size: cover;
    height: 500px;
  }
}

.main__motivation {
  padding: 10px;
  box-shadow: rgba(134, 55, 100, 0.2) 0px 0px 8px;
  border-radius: 5px;
  margin: 20px;
}

.galleries__container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 120px);
  gap: 10px;
}

@media screen and (min-width: 700px) {
  .galleries__container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
  }
}
.galleries img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: zoom-in;
  border-radius: 10px;
  transition: transform 250ms cubic-bezier(0.79, 0.25, 0, 1.07);
}

.galleries__container--image:is(:hover, :focus) img {
  transform: scale(1.03);
}

.modal * {
  background-color: transparent;
}

.modal-container {
  position: fixed;
  bottom: 0;
  inset: 0;
  background-color: hsl(var(--dark)/0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease-in-out;
}

.modal-container.active {
  opacity: 1;
  pointer-events: all;
}

.modal {
  position: relative;
  margin: 2rem;
  max-width: 900px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 2px 40px hsl(var(--dark));
  z-index: 6;
}

.modal__image-container {
  display: flex;
  max-height: 100vh;
}

.modal__image {
  aspect-ratio: 16/10;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal__overlay {
  position: relative;
  z-index: 4;
  bottom: 0;
  display: grid;
  place-items: center;
}

.modal__btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 1rem;
  position: fixed;
  bottom: 0;
  justify-content: center;
}

.modal__btn {
  display: grid;
  place-items: center;
  background-color: #dd9add;
  color: hsl(var(--text));
  padding: 0.5rem;
  border: 4px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.9, 0, 0, 0.96), border 250ms cubic-bezier(0.9, 0, 0, 0.96);
}

.modal__btn:is(:hover, :focus) {
  border: 4px solid hsl(var(--bkg)/0.8);
}

.modal__btn svg {
  pointer-events: none;
  width: 2rem;
  height: 2rem;
  transition: transform 250ms cubic-bezier(0.9, 0, 0, 0.96);
}

.modal__btn:is(:hover, :focus) svg {
  transform: scale(1.2);
}

.modal__indicator-container {
  order: -1;
  display: flex;
  justify-content: center;
  gap: 1rem;
  position: fixed;
  bottom: 70px;
}

.modal__indicator {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: hsl(var(--bkg)/0.4);
  border: 3px solid hsl(var(--bkg)/0.6);
  cursor: pointer;
  position: relative;
}

.modal__indicator:is(:hover, :focus) {
  background-color: hsl(var(--bkg)/0.5);
  border: 3px solid hsl(var(--bkg)/0.7);
}

.modal__indicator.active::before {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: 50%;
  background-color: hsl(var(--bkg)/0.9);
}

html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.wrapper-bigger {
  background-color: rgba(231, 197, 231, 0.5019607843);
}

.wrapper {
  box-shadow: rgba(134, 55, 100, 0.2) 0px 0px 8px;
}
@media screen and (min-width: 1200px) {
  .wrapper {
    max-width: 1200px;
    margin: auto;
  }
}

.header {
  display: grid;
  grid-template-columns: 30% auto;
}
.header__logo {
  padding: 10px;
}
.header__info {
  padding: 10px;
}
@media screen and (min-width: 600px) {
  .header__info {
    margin: 25px;
  }
}
@media screen and (min-width: 800px) {
  .header__info {
    margin: 30px;
  }
}
.header__info p {
  font-size: 15px;
  text-align: right;
  margin-right: 10px;
  padding: 0.2%;
}
@media screen and (min-width: 800px) {
  .header__info p {
    margin: 10px;
  }
}
.header__info p img {
  max-width: 15px;
}

.social-media {
  display: none;
  z-index: 7;
}
@media screen and (max-width: 1200px) {
  .social-media {
    max-width: 40px;
    position: fixed;
    right: 10px;
    top: 40vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
}

.header__navigation {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: transparent;
  margin-bottom: 4px;
  box-shadow: rgba(134, 55, 100, 0.2) 0px 0px 8px;
}
.header__navigation * {
  align-items: center;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 1px;
  color: var(--primary);
}
.header__navigation *:active {
  background-color: rgba(231, 197, 231, 0.3764705882);
}

.header__navigation a {
  font-size: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

footer {
  font-size: 12px;
  padding: 10px;
}
@media screen and (min-width: 1200px) {
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
  }
}
footer * {
  margin: 4px;
}

.social-media-footer {
  max-width: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
}
@media screen and (max-width: 1200px) {
  .social-media-footer {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */