@use 'colors';
@use 'generals';
@use 'main';

.info__text p{
  margin: auto;
  border-radius: 5px;
  font-size: 15px;
  padding: 12px;
  margin: 10px;
  background-color: colors.$primary;
  color: colors.$secondary;
}

