
:root {
  --hue:206;
  --bkg:var(--hue) 50% 96%;
  --text: var(--hue) 70% 9%;
  --dark: var(--hue) 70% 3%;
  --primary:#863764;
  --secondary: antiquewhite;
  --darkbkg:rgb(34, 34, 34);
}


html[data-theme='dark'] {
  --secondary: rgb(34, 34, 34);
}

$primary: var(--primary);
/*$secondary: #fad7df;*/
$secondary: var(--secondary);
$light:#fbdbe1;
$light2: #dd9add;
$light3:#fef4f7;
$light4: #e7c5e7;
$backgroundpink: #e7c5e780;

