@use 'colors';

/*Common breakpoints are 
320px — 480px for mobile devices, 
481px — 768px for iPads & tablets, 
769px — 1024px for small screens like laptop, 
1025px — 1200px for large screens like Desktops, and 
1201px and above for extra large screens like TV.*/

$font-base: 'Nunito', Arial, sans-serif;

/*measurements*/
$spacer: 30px;


* {
  font-family: $font-base;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: colors.$primary;
  //background-color: colors.$secondary;
  max-width: 100%;
}


.border{
  border-radius: 10px;
}

.social-icon{
  background-color: none;
  position: fixed;
  top: 70%;
  border-radius: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.social-icon a{
  background-color: none;
  min-width: 150px;
}
.social-icon a img{
  background-color: none;
  border-radius: 50%;
  
}