@use 'generals';
@use 'colors';
@use 'galleries';
@use 'wherewhen';
@use 'aboutus';
@use 'orders';

.main{
  grid-column: 1/7;

  &__image{
  background-image: url("/img/chocoraspberrycloseup.png");
  background-size: cover;
  height: 300px;
  @media screen and (min-width: 930px){
    background-image: url("/img/cake3.jpg");
    background-size: cover;
    height: 500px;
    }
  }

  &__motivation{
  padding: 10px;
  box-shadow: rgba(134, 55, 100, 0.20) 0px 0px 8px;
  border-radius: 5px;
  margin: 20px;
  }

}