@use 'generals';
@use 'colors';



.main{
  grid-column: 1/7;

  &__image{
  background-image: url("/img/chocoraspberrycloseup.png");
  background-size: cover;
  height: 300px;
  @media screen and (min-width: 930px){
    background-image: url("/img/cake3.jpg");
    background-size: cover;
    height: 500px;
    }
  }

  &__galeries{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 120px);
    gap: 10px;
    
  }

  &__motivation{
  padding: 10px;
  background-color: colors.$primary;
  color: colors.$secondary;
  border-radius: 5px;
  margin: 20px;
  }

  &__galeries img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  }

}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto;
  width: 500px;
  height: 300px;
}

.container{
  max-width: 80%;
  margin: auto;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
}

.image-item {
  flex: 1 0 28%;
  min-width: 80px;
  cursor: zoom-in;
}

.image-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.79, 0.25, 0, 1.07);
}

.image-item:is(:hover, :focus) img{
  transform: scale(1.03);
}