@use 'generals';
@use 'colors';

.orders__container{
  background-image: url("/img/macaroons1.jpg");
  background-size: cover;
  
}

.orders__container--cover{
  background-color: rgba(250, 235, 215, 0.61);
  & *{
    background-color: transparent;
    position: center;
    padding-top: 70px;
    padding-bottom: 120px;
  }
}
