@use 'generals';
@use 'colors';
@use 'main';
@use 'wherewhen';

html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


.header {
  grid-column: 1 / 7;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  
  &__logo{
  grid-column: 1 / 4;
  }

  &__menu{
  display: none;
    @media screen and (min-width: 930px) {
      display: grid;
      grid-column: 4 / 12;    
      grid-template-columns: repeat(6, 1fr);
    }
  }
  &__button{
    grid-column: 8 / 12;
    align-items: center;
    border-radius: 10px;
    font-size: 18px;
    margin: 8px;
    background-color: colors.$primary;
    color: colors.$secondary;
    
    &:active{
      background-color: colors.$light2;
    }
    @media screen and (min-width: 930px){
      display: none;
      }
  }

}


.footer *{
  background-color: colors.$primary;
  color: colors.$secondary;
}