@use 'generals';
@use 'colors';
@use 'main';
@use 'wherewhen';

html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


.header {
  display: grid;
  grid-template-columns: 30% auto;

  &__info p{
    text-align: right;
  }

  &__menu{
  display: none;
    @media screen and (min-width: 930px) {
      display: grid;
      grid-column: 4 / 12;    
      grid-template-columns: repeat(6, 1fr);
    }
  }
}


.footerNavigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: sticky;
  bottom: 0;
  background-color: transparent;

  @media screen and (min-width: 930px){
    display: none;
    }
}

.footerNavigation *{
  align-items: center;
  font-size: 18px;
  margin: 1px;
  border-radius: 10px;
  background-color: colors.$primary;
  color: colors.$secondary;
  &:active{
    background-color: colors.$light2;
  }
}

