@use 'generals';
@use 'colors';

.main__when{
  margin-top: 50px;
  margin-bottom: 25px;
}
@media screen and (min-width: 760px){
  .main__wherewhen{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    .main__when{
      grid-column: 1/2;
    }
    .main__where{
      grid-column: 2/3;
    }
  }
  
  }
  

.map{
  width: 80vw;
  height: 180px;
  @media screen and (min-width: 760px){
    height: 400px;
    }
}