<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"> 
	  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>{{title}}</title>
    
</head>
<body>
  <div class="wrapper">
    <div class="header">
        <div class="header__logo">
            <a href="/"><img src="/img/logovector.svg" alt="logo"></a>
        </div>
        <div class="header__info">
          <a href="/wherewhen/"><p>Fügnerova 471, Blatná <img src="/img/mapicon.svg" alt="mapicon"></p></a>
          <a href="/orders/"><p>sladilna@email.cz <img src="/img/emailicon.svg" alt="emailicon"></p></a>
          <a href="/orders/"><p>731 823 248 <img src="/img/phoneicon2.svg" alt="phoneicon"></p></a>
        </div>
        <div class="header__navigation">
          <a href="/aboutus/">O nás</a>
          <a href="/orders/">Objednávky</a>
          <a href="/wherewhen/">Kde a kdy nás najdete</a> 
        </div>
        <div class="header__menu">
            <a href="/aboutus/">O nás</a>
            <a href="/wherewhen/">Kde a kdy nás najdete</a>
            <a href="/orders/">Objednávky</a>
            <a href="/giftcards/">Věnujte dáreček</a>
            <a href="/contact/">Kontakt</a>
            <a href="/ouroffers/">Co nabízíme</a>
        </div>
    </div>
    
    <div class="main">
    {{content | safe}}
     </div>

    

</div>
<script src="index.js" type="module"></script>
</body>
</html>