<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"> 
    <link rel="icon" type="image/x-icon" href="/img/logovector.svg">
	  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet"> 
    <script defer src="index.js" type="module"></script>
    <title>{{title}}</title>
    
</head>
<body>
<div class="wrapper-bigger">
  <div class="wrapper">
    <div class="header">
        <div class="header__logo">
            <a href="/"><img src="/img/logovector.svg" alt="logo"></a>
        </div>
        <div class="header__info">
          <a href="/wherewhen/"><p>Fügnerova 471, Blatná <img src="/img/mapicon.svg" alt="mapicon"></p></a>
          <a href="mailto:sladilna@email.cz"><p>sladilna@email.cz <img src="/img/emailicon.svg" alt="emailicon"></p></a>
          <a href="tel:731823248"><p>731 823 248 <img src="/img/phoneicon2.svg" alt="phoneicon"></p></a>
        </div>
        <div class="header__navigation">
          <a class="right-border" href="/aboutus/">O NÁS</a>
          <a class="right-border" href="/orders/">OBJEDNÁVKY</a>
          <a href="/wherewhen/">KUDY K NÁM</a> 
        </div>
    </div>
    
    <div class="main">
    <div class="social-media">
      <a href="https://www.instagram.com/sladilna_u_parku/?igshid=YmMyMTA2M2Y%3D&fbclid=IwAR3ocBi-uFiLzsogEF-cJHVzdyee9zXjrGRJiZCUqQUmALWwOK4V7dHuDO0" target="_blank"><img src="/img/iconinst.png" alt=""></a>
      <a href="https://www.facebook.com/sladilnauparku" target="_blank"><img src="/img/iconfb.png" alt=""></a>
    </div>
    {{content | safe}}
     </div>

    
  <footer>© 2022 SlaDílna u parku
  <div class="social-media-footer">
      <a href="https://www.instagram.com/sladilna_u_parku/?igshid=YmMyMTA2M2Y%3D&fbclid=IwAR3ocBi-uFiLzsogEF-cJHVzdyee9zXjrGRJiZCUqQUmALWwOK4V7dHuDO0" target="_blank"><img src="/img/iconinst.png" alt=""></a>
      <a href="https://www.facebook.com/sladilnauparku" target="_blank"><img src="/img/iconfb.png" alt=""></a>
    </div>
  </footer>
</div>
</div>
</body>

</html>